.main-content {
    width: 100%;
    height: 100vh;
}

@keyframes flash {
    from,
    50%,
    to {
      opacity: 1;
    }
  
    25% {
      opacity: 0;
    }
}
  
.flash {
    animation-name: flash;
}

.animated {
    animation-duration: 2s;
    animation-fill-mode: both;
}
.animated.delay-1 {
    animation-delay: 250ms;
}
  
.animated.delay-2 {
    animation-delay: 500ms;
}
  

.animated.infinite {
    animation-iteration-count: infinite;
}

:focus {
    box-shadow: none !important;
    outline: none !important;
}